* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
header,main,footer {
    display: grid;
}
header{
    grid-auto-rows: minmax(50px, auto);
    grid-template-columns: repeat(3, 1fr);
}
nav {
    display: contents;
    grid-column-start: 1;
    grid-column-end: 4;
}