* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
header{
    display: grid;
}
header{
    grid-auto-rows: minmax(50px, auto);
    grid-template-columns: repeat(3, 1fr);
}
nav {
    display: contents;
    grid-column-start: 1;
    grid-column-end: 4;
}
canvas#matrix{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
}
